*{
	margin: 0 auto;
}
header{
	background-image: url(img/header9.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	border-bottom: 2px solid red;
	border-bottom-right-radius: 2px;
	max-width: 100%;
}
body{
	background-image: url(img/bgr4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Lato', sans-serif !important;
}
li a{
	color: white;
}
img{
	border: 2px solid black;
	border-radius: 2px;
}
img:first-child{
	border-style: none;
}
hr{
    border: none;
    height: 4px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}
hr:last-child{
	color: #000000;
}
h1{
	color: #000000;
}
h1:first-child{
	color:default;
}
nav ul li{
	margin-left: 40px;
}
nav ul li:first-child{
	margin-left: 0px;
}
nav ul li:hover{
	background: red;
}
aside{
	border: 2px solid #001DFA;
	margin-right: 30px;
	background: #7FFFCE;
	box-shadow: 10px 10px 5px #888888;
}
.name:hover{
	color: red;
	cursor: pointer;
}
.main{
	border: 2px solid black;
	box-shadow: 10px 10px 5px #888888;
	background-image: url(img/bg1.jpg);
	background-size: cover;
}
div div div ul li{
	padding: 10px;
	font-size: 1.15em;
}
footer{
	background-image: url(img/header10.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 100%;
	padding: 0px;
	margin: 0 auto;
	background-color: #FF6DA4;
	height: 420px;	
	box-shadow: 10px 10px 5px #888888;   
	border: 2px solid red;
}
#fonts{
	font-family: 'Salsa', cursive;
}

.img:hover{
    top: -10px;
}
.images{
	transition: 0.3s;
}
.images:hover{
	box-shadow: 10px 10px 5px #888888;
}
.img{
  position: relative;
  top: 0;
  transition: top ease 0.3s;
}
div a h3{
	font-family: 'Galdeano', sans-serif;
}
/*starting responsive work*/

/*targeting ipad*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 
	header div h1{
		margin-top: 50px;
	}
}

@media screen and (max-width: 767px){
	.header{
		height:100px;
	}
	header div h1{
		font: bold;
	}
	aside{
		margin-right: 0px;
	}
}

@media screen and (max-width: 425px){
	.header{
		height:100px;
	}
	header div h1{
		font: bold;
	}
	aside{
		margin-right: 0px;
	}
	footer font div div.col-xs-4{
		width: 50%;
	}
	footer{
		height: 480px;
	}

}

@media screen and (max-width: 230px){
	.header{
		height:100px;
	}
	header div h1{
		font: bold;
	}
	aside{
		margin-right: 0px;
	}
	.heading{
		display: none;
	}
	.text{
		font-size: 0.7em;
	}
	footer font div div.col-xs-4{
		width: 100%;
	}
	footer{
		height: 700px;
	}
}
